body{
	font-family: 'Lobster', cursive;
	background-color: #ebebe0;
}

.head h1{
	background: url(../img/yq.png) no-repeat;
	text-indent: -9999px;
	width: 500px;
	height: 120px;
	padding-top: -10px;
}

li{
	font-family: Arial;
	font-weight: bold;
	display: inline;
	font-size: 25px;
	padding-right: 30px;
}

.head ul a{
	text-decoration: none;
	color: #ff8533;
}

.footer ul a{
	text-decoration: none;
	color: #0066cc;
}

ul  a:hover{
	color: #0066cc;
}

.head{
	background: #ffffff;
	overflow: hidden;
  	position: fixed; 
  	top: 0; 
  	width: 100%;
}

.head h1{
	float: left;
	width: 35%;

}

.head aside{
	padding-top: 50px;
	float: right;
}

.middle{
	font-size: 70px;
	text-align: center;
}

.top{
	text-align: center;
	font-size:20px;
}

.bottom{
	text-align: center;
	font-size:20px;
}

.subcolumn{
	border: solid;
	border-color: black;
	margin-bottom: 67px;
}

footer{
    background-color: #1a1a1a;
    height: 200px;
    width: 100%;
}
.icon{
	color: white;
    float:right;
    padding-top:0px;
    margin-top: -120px;
}

.icon a{
	color: white;
}

.icon a:hover{
	color: #ff8533;
}

.ul_footer li{
	font-size: 15px;
	color: white;
    display: block;
    padding:10px;
}

.ul_footer li:hover{
	color: #ff8533;
	cursor: pointer;
}

#footer_container{
    padding:0px;
    border:none;
    margin:0px;
    width:100%;
}


.c2, .r2{
	color: #ff8533;
}

.c3, .r3{
	color: #0066cc;
}